$aerospike-red: #c31618;

.input-group-addon, .input-group-btn {	
	vertical-align: top;
}

.jumbotron	{
	background-color: $aerospike-red;
	color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover, .nav-pills>li.active>a:focus	{
	background-color: #ffffff;
	color:	#000000;
	border-bottom: 4px solid red;
}

.nav-pills > li > a {
	border-radius: 0px;
}

.main-content	{
	min-height:	650px;
}

.text-aerospike	{
	color: $aerospike-red;
}

.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 20% 0 0 80%;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Alerts - ON";
    padding-left: 10px;
    background-color: #ff4136; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Alerts - OFF";
    padding-right: 10px;
    background-color: #FFFFFF; color: #000000;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 29px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 95px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.admin-panel  {
    padding-top: 20px;
    .admin  {
        font-size: 80px;
        color: $aerospike-red;
        text-shadow: -5px -1px 1px rgba(0, 0, 0, 0.35);
    }    
}

