<div>
  <div class="modal-header">
      <h3 class="modal-title">About Tweetaspike</h3>
  </div>
  <div class="modal-body">
    This <i>sample</i> application is built using the <strong>ASEAN Stack &mdash; AeroSpike + Express + AngularJS + Node.js</strong>. Two Aerospike's open sourced technologies being demonstrated in this app are:

    <ul>
      <li>Aerospike's In-Memory NoSQL Database</li>
      <li>Aerospike's Node.js Client</li>
    </ul>

    <p>To learn more about Aerospike's technologies, please <strong><a href='http://www.aerospike.com/develop/'>click here</a></strong>. For questions/comments about this app or if you'd like to know how you can write your own app leveraging Aerospike's technologies, feel free to drop me a line at <strong>dash @ aerospike dot com</strong>.</p>

    <p>
      Application Architecture:
      <ul>
        <li>In-Memory NoSQL Database Server &mdash; Amazon EC2 <i>m1.small</i> AMD64 instance running Ubuntu 12.04; Image Size 8GB</li>
        <li>Web application &mdash; Amazon EC2 <i>m1.small</i> instance running Amazon Linux mounted with Node.js EBS; Image Size 8GB</li>
      </ul>
    </p>

    <p>
      Application Features:
      <ul>
        <li>Register | Login | Logout</li>
        <li>Post &mdash; similar to tweets only better since there's no character limit :)</li>
        <li>Follow &mdash; follow other tweetaspikers</li>
        <li>Unfollow &mdash; unfollow tweetaspikers you are following</li>
        <li>Following &mdash; list of tweetaspikers you follow including their posts</li>
        <li>Followers &mdash; list of tweetaspikers that follow you including their posts</li>
        <li>Alerts &mdash; receive real-time alerts when tweetaspikers you are following add new posts</li>
      </ul>
    </p>

    <p>Other technologies that I've used in this app are: 
      <a href='http://angular-ui.github.io/bootstrap/' target='_blank'>Angular UI</a> | <a href='http://socket.io/' target='_blank'>Socket.io</a> | <a href='http://bower.io/' target='_blank'>Bower</a> | <a href='http://yeoman.io/' target='_blank'>Yeoman</a> | <a href='http://gruntjs.com/' target='_blank'>Grunt</a>
    </p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Got It</button>
  </div>
</div>
