<div>
  <div class="modal-header">
      <h3 class="modal-title">About Tweetaspike</h3>
  </div>
  <div class="modal-body">
    This application has been built using the ASEAN Stack -- AeroSpike + Express + AngularJS + Node.js. The two Aerospike technologies being demonstrated in this app are:

    <p>
      <ul>
        <li>Aerospike's Open Sourced In-Memory NoSQL DB</li>
        <li>Node.js Client</li>
      </ul>
    </p>

    To learn more about Aerospike's technologies, please <a href='http://www.aerospike.com/develop/'>click here</a>.
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </div>
</div>