<div>
  <div class="modal-header">
      <h3 class="modal-title">About Tweetaspike</h3>
  </div>
  <div class="modal-body">
    This sample application has been built using the <strong>ASEAN Stack -- AeroSpike + Express + AngularJS + Node.js</strong>. Two Aerospike's open sourced technologies being demonstrated in this app are:

    <p>
      <ul>
        <li>In-Memory NoSQL Database</li>
        <li>Node.js Client</li>
      </ul>
    </p>

    <p>To learn more about Aerospike's technologies, please <strong><a href='http://www.aerospike.com/develop/'>click here</a></strong>. For questions or comments about this app, feel free to drop me a line at <strong>dash @ aerospike dot com</strong>.</p>

    <p>Other technologies being used in this app worth mentioning are: 
      <a href='http://angular-ui.github.io/bootstrap/' target='_blank'>Angular UI</a> | <a href='http://socket.io/' target='_blank'>Socket.io</a> | <a href='http://bower.io/' target='_blank'>Bower</a> | <a href='http://yeoman.io/' target='_blank'>Yeoman</a> | <a href='http://gruntjs.com/' target='_blank'>Grunt</a>
    </p>

    <p>
      Application Features:
      <ul>
        <li>Register</li>
        <li>Login</li>
        <li>Post -- similar to tweets only better since there's no character limit :)</li>
        <li>Follow -- follow other tweetaspikers</li>
        <li>Unfollow -- unfollow tweetaspikers you are following</li>
        <li>Following -- list of tweetaspikers you follow including their posts</li>
        <li>Followers -- list of tweetaspikers that follow you including their posts</li>
        <li>Alerts -- receive real-time alerts when tweetaspikers you are following add new posts</li>
        <li>Logout</li>
      </ul>
    </p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Got It</button>
  </div>
</div>
