<div ng-include="'partials/navbar'"></div>

<div class="container" data-ng-init="init()">

  <div class="text-center">
    <h1>Admin Panel</h1>
  </div>

  <div class="text-center">
    <h2>Transactions Per Second</h2>
  </div>

  <div class="admin-panel">
    <div class="text-center">
      <span class="admin reads">Reads:&nbsp;</span><span ng-bind="reads" class="admin reads"></span>
    </div>
    <div class="text-center">
      <span class="admin writes">Writes:&nbsp;</span><span ng-bind="writes" class="admin writes"></span>
    </div>
  </div>

</div>
