<div ng-include="'partials/navbar'"></div>

<div class="container">

  <h3>My Followers</h3>

  <div ui-sortable ng-model="myFollowersList">
	  <accordion close-others="oneAtATime">
			<accordion-group ng-repeat="myFollower in myFollowersList track by $index" is-open="status.open">
					<accordion-heading>
						{{myFollower}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				  </accordion-heading>
					{{myFollower}}'s tweets will show up here... 	
			</accordion-group>
		</accordion>
  </div>

</div>
