<div ng-include="'partials/navbar'"></div>

<div class="container">

  <!-- Tweet input -->
  <form class="form" name="form" novalidate ng-submit="follow(form)">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="user.email" placeholder="Enter handle" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Go">
        </span>
      </div>
    </div>
  </form>
  <div class="form-group text-center">
    <h4 class="help-block">{{ message }}</h4>
  </div>
  <p></p>

  <h3>I'm following</h3>

  <div ui-sortable ng-model="myFollowingList">
    <p class="input-group" ng-repeat="myFollowing in myFollowingList track by $index" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="myFollowing" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="unfollow($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>

</div>
