<div ng-include="'partials/navbar'"></div>

<div class="container">

  <h3>My Followers</h3>

  <div ng-model="myFollowersList">
	  <accordion close-others="oneAtATime">
			<accordion-group ng-repeat="myFollower in myFollowersList track by $index" is-open="status.open" ng-click="retrieveFollowerTweets($index)">
					<accordion-heading>
						{{myFollower.handle}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				  </accordion-heading>
			    <p ng-repeat="tweets in myFollower.tweets track by $index">
			    	<span>{{tweets.tweet}}</span>
			    	<span class="pull-right">{{tweets.ts | amCalendar}}</span>
			    </p>
			</accordion-group>
		</accordion>
  </div>

</div>
