<div class="jumbotron">
  <h1>Tweetaspike</h1>
</div>

<div class="row text-center">
  <div class="col-sm-12">
    <h4>Sign In And Get Tweetaspikn'</h4>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="login(form)" novalidate>
      <div class="form-group">
        <input type="text" name="email" class="form-control" ng-model="user.email" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password">
      </div>
      <div class="form-group has-error">
        <p class="help-block">{{ errors }}</p>
      </div>
      <button type="submit" class="btn btn-lg btn-primary"> Sign In </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Not Registered? <a href="/register" class="text-center new-account">Register</a>
  </div>
</div>