<div ng-include="'partials/navbar'"></div>

<div class="container" data-ng-init="init()">

  <!-- Tweet input -->
  <form role="form" ng-submit="addTweet()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="myTweet" placeholder="What would you like to tweetaspike?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
      <div class="form-group has-error text-center">
        <p class="help-block">{{ errors }}</p>
      </div>
    </div>
  </form>
  <p></p>

  <h3 ng-show="myTweets.length">My Tweetaspikes</h3>

  <div ui-sortable ng-model="tweets">
    <p class="input-group" ng-repeat="myTweet in myTweets track by $index" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="myTweet.tweet" class="form-control" disabled=disabled>
      <span class="text-muted">{{myTweet.ts | amCalendar}}</span>
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTweet($index)" aria-label="Remove">X</button>
      </span>
    </p>
    <h4 class="text-muted text-center" ng-show="!myTweets.length">A Tweetaspike is similar to writing a tweet -- only better because there is no limit on number of characters!:)</h4>
  </div>
</div>
